.block1{
    width: 100%; 
    background-color: #090909;
    padding: 10px; 
    height: 110px;
}

.img1{
    float:left; 
    margin:10px; 
    width:100px; 
    height: 100px;
}

.block2{
    background-color: #F2Bf5e;
    padding: 10px;
}

.block3{
     max-width: 960px;
     background-color: #595959;
     margin: 0 auto;
     margin-top: 20px;
     padding: 10px;
}

.block4{
    max-width: 960px;
    background-color: #595959;
    margin: 0 auto;
    padding: 10px;
    display: flex;
}


.text1{
    color: #D9D0C7;

}

a:link{
    color:#F2Bf5e;
}

a:visited{
    color: #050505;
}

#navbar {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  #navbar li { display: inline; }

.table{
    border-collapse: collapse ;
  }
.th{border: 1px solid #F2Bf5e;
        background: #090909;}
.td{border: 1px solid #F2Bf5e;
        background: #4d1717;}

@media (min-device-width: 320px) and (max-device-width: 568px) {
    .block1{
        width: 100%; 
        background-color: #090909;
        padding: 10px; 
        height: 110px;
    }
    
    .img1{
        margin:10px; 
        width:100px; 
        height: 100px;
    }
    
    .block2{
        background-color: #F2Bf5e;
        padding: 10px;
    }
    
    .block3{
         max-width: 960px;
         background-color: #595959;
         margin: 0 auto;
         margin-top: 20px;
         padding: 10px;
    }
    .table1{
        order: -2;
    }
    .block4{
        max-width: 960px;
        background-color: #595959;
        margin: 0 auto;
        padding: 10px;
    
    }
    #navbar {
        margin: 0;
        padding: 0;
        list-style-type: none;
      }
      #navbar li { display: block; }
      
    nav{display: flex;}
    head{display: flex;}
}